Source: lucius-libsai
Section: devel
Priority: optional
Maintainer: Roy Yi <royyi@google.com>
Build-Depends: debhelper (>=10),
	libpcap-dev,
	libnl-3-dev,
	libnl-genl-3-dev
Standards-Version: 4.0.0

Package: lucius-libsai
Architecture: any
Description: SONiC dataplane SAI API
